<h1>App Component</h1>

<app-server></app-server>
<app-red></app-red>
<app-green></app-green>
<app-yellow></app-yellow>
<h2>Input Server Information</h2>
<input type="text" placeholder="Server Name" [(ngModel)]="ServerName">
<h3>Display Server Information</h3>
<p>{{ServerName}}</p>
<p>{{ServerPID}}</p>
<p>{{ServerStatus}}</p>

<button [disabled]="buttonState" (click)="toggleServerStatus()"> Toggle Server Status</button><br>
<p>First Name:</p> 
<input type="text" [(ngModel)]="firstName">
<p>{{firstName}}</p>
<button (click) ="resetTheName()" [disabled]="checkName()">Reset the name</button>

<h1 [ngStyle]="{color: getColor()}">This is ngif directive</h1>
<h2 [ngClass]="{'white': flag}">ng class example</h2>

<p *ngIf="flag; else elseblock">Flag is true</p>
<ng-template #elseblock>
    <p>Flag is false</p>
</ng-template>

<button (click)="toggleFlag()">Toggle flag</button>

<h1>Another name to input</h1>
<input type="text" placeholder="name" [(ngModel)]="currentName">
<button (click)="addName()">Submit</button>
<li *ngFor="let names of anotherName">{{names}}</li><br>
<p [ngStyle]="{color: pColor}">Color change</p>
<button (click) = getRandomColor()>Change paragraph's above color</button>
<p [ngStyle]="{color: pStyle}">Button was clicked: {{numberOfClicks}} times</p>